body {
	//background: #dcdcdc;
}

#principal {
	//background: #dcdcdc;
	margin: 0 auto;
	padding: 15px;
}

.feedback{
	display: none;
}

#cor-botao input {
	background-color: #2a3f54 !important;
	border: #2a3f54;
}
