body {
	background: white;
}

#cabecalho {
	background: #2a3f54;
	height: 150px;
	text-align: left center;
}

#rodape {
	background: #2a3f54;
	height: 90px;
}

#logo {
	padding: 10px;
}

#principal {
	background: #dcdcdc;
	margin: 0 0;
	padding: 15px;
}