body {
	background-color: #dcdcdc;
}

#principal {
	background-color: white;
	margin: 0 auto;
	padding: 30px;
	padding-right: 0px;
	padding-left: 70px;
}

.feedback{
	display: none;
}

#cor-botao input {
	background-color: #2a3f54 !important;
	border: #2a3f54;
}

#formato-imagem
{
	width: 24px;
	height:24px;
}
label
{
	margin:0 auto;
}

#formato-botao-mais
{
	margin-top: 30px;
	margin-left: 10px;
	background: none;
	border:none;
}
.material-icons
{
	color:#275F9E;
}
