body {
	background-color: #dcdcdc;
}


form {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
}


#principal {
	background-color: white;
	// margin: 0 auto;
	padding: 30px;
	padding-right: 0px;
	padding-left: 70px;
}
