body {
	background-color: #dcdcdc;
}


$corCabecalhoTabela: #526ba0;

table thead tr{
    background:$corCabecalhoTabela;
    color: #fff;
}

table tr{
    text-align: center;
    background-color: white;
}

table tbody tr:hover{
    cursor:pointer;
}

.celulaEmEdicao input[type=text]{
    background: darken(#F2F2F2, 5%);

}

.check_circle_outline{
    color: green;
}
