body {
	background-color: #dcdcdc;
}


$corCabecalhoTabela: #526ba0;

table thead tr{
    background: $corCabecalhoTabela;
    color:#fff;
}

table tr{
    text-align: center;
    background-color: white;
}

.ordenavel:hover
{
    background: darken($corCabecalhoTabela, 5%);
    cursor:pointer;
}

table tbody tr:hover{
    cursor:pointer;
    background:#F2F2F2;
}

.sticky{
    position: sticky;
    top: 0;
    background:#526ba0;
}
