body {
	background-color: #dcdcdc;
}


$corCabecalhoTabela: #526ba0;

table thead tr{
    background: $corCabecalhoTabela;
    color:#fff;
}

table tr{
    text-align: center;
    background-color: white;
}

.ordenavel:hover
{
    background: darken($corCabecalhoTabela, 5%);
    cursor:pointer;
}

table tbody tr:hover{
    cursor:pointer;
    background:#F2F2F2;
}

.sticky{
    position: sticky !important;
    top: 0 !important;
    background:#526ba0 !important;
}

.celulaEmEdicao input[type=text]{
    background: darken(#F2F2F2, 5%);

}

.check_circle_outline{
    color: green;
}
