body{
	background: #2a3f54;
	font-family: "Roboto Light", "Open Sans", Arial;
}

.btn{
	background: #275f9e;
	border: none;
	color:#fff;
}

.btn:hover{
	background: #3e63ad;
	color:#fff;
	text-decoration: none;
}

.feedback{
	display: none;
}

.modal-login{
	background:#fff;
	padding: 30px;
	margin: 50px auto 0 auto;
	width: 30%;
}

.label-invisivel{
	visibility: hidden;
}

.botoes-login{
	font-size: 1.05em;
}

.botoes-login a{
	text-decoration:none;
}

.link-senha a{
    text-decoration:none;
    font-size: 0.8em;
    color: #8a9db0;
}