body
{
	background: #dcdcdc;
	font-family: "Roboto Condensed Light";
}

.conteudo-principal
{
	background: #dcdcdc;
	margin: 0 auto;
	padding: 15px;
	height: 600px;
}

.formato-fonte-botao
{
	font-size: 2em;
	font-family: "Roboto Condensed Light";
}

.posicao-elemento
{
	text-align: center;

}

.fonte-barra
{
	font-size: 2em;
	font-family: "Roboto Condensed Light";
	color: #FFF;
}

.container-produto
{
	border: 1px solid white;
	height: 150px;
	background: #FFF;
}
button 
{
	width: 250px;
	height: 250px;
}

a
{
	font-size: 1.5em;
}
a:hover
{
	text-decoration: none;
}

nav
{
	background: #406283;
}